/* -------- Fonts -------- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,700&display=swap");
/* -------- Fonts -------- */
/* -------- Reset -------- */
/* -------- Reset Styles -------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* -------- Reset Styles -------- */
/* -------- Reset -------- */
/* -------- Variables -------- */
/* -------- Variables -------- */
/* -------- Variables -------- */
/* -------- Variables -------- */
/* -------- General -------- */
body {
  padding: 1.5rem;
  font-size: 1.6rem;
  font-family: "Work Sans";
  color: hsl(292, 42%, 14%);
  background: url(../assets/images/background-pattern-desktop.svg) top center/100% no-repeat;
  background-color: hsl(275, 100%, 97%);
}

.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------- General -------- */
/* -------- Accordion -------- */
.accordion {
  max-width: 55rem;
  margin: 0 auto;
  background-color: hsl(0, 100%, 100%);
  border-radius: 1.5rem;
  padding: 4rem 3.5rem 2.5rem;
}

.title {
  font-size: clamp(3.6rem, 5vw, 5rem);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: clamp(3rem, 5vw, 4rem);
}

.accordion__item:not(:last-child) {
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(234, 234, 234, 0.5568627451);
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 3rem;
}

.accordion__title {
  font-weight: 600;
}

.accordion__button {
  background: none;
  transition: 0.2s ease-in-out all;
}

.accordion__button:hover {
  opacity: 0.8;
}

.accordion__text {
  color: hsl(292, 16%, 49%);
  line-height: 1.4;
  display: none;
  margin-bottom: 2rem;
}

.accordion__text {
  display: none;
}

.accordion__item.active .accordion__text {
  display: block;
}

.accordion__item.active .accordion__button-icon {
  content: url("../assets/images/icon-minus.svg");
}

/* -------- Accordion -------- */